<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<script src="main.js"></script>
</head>
<body>
	<h2>And the quotes are...</h2>
	<ul class='quotes'>
		<% for(var i=0; i<quotes.length; i++) {%>
		<li class='quote'>
			<span><%= quotes[i].name %></span>
			<span><%= quotes[i].quote %></span>
		</li>
		<% } %>
	</ul>

	<hr>
	<div>
		<h2>Replace last qute written by Yoda with a quote written by Darth Vadar</h2>
		<button id='update'> Darth Vadar invades! </button>
	</div>

	<hr>

	<form action="/quotes" method="POST">
		<input type="text" placeholder="name" name="name">
		<input type="text" placeholder="quote" name="quote">
		<button type="submit">Submit</button>
	</form>
</body>
</html>
